*{
    margin: 0;
    padding: 0;
}

header{
    background-color:rgb(255, 255, 255);
    color: red;
    display: flex;
    justify-content: space-around;
}
.cabecalho-imagem{
    width: 8%;
    height: 8%;
}
body{
    background-color: black;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 40px 120px;
    font-size: 32px;
}